<template>
  <div class="BaseForm">
    <div class="BaseForm__title">
      <p>Name: {{ localForm.name }}</p>
      <p>Age: {{ localForm.age }}</p>
    </div>
    <div class="BaseForm__input-group">
      <input v-model="localForm.name" class="BaseForm__input" type="text">
      <input v-model="localForm.age" class="BaseForm__input" type="text">
    </div>
    <div class="BaseForm__confirm">
      <button @click="confirm">
        Confirm
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "BaseForm",
  model: {
    event: 'change',
    prop: 'form'
  },
  props: {
    form: {
      type: Object,
      default: () => ({
        name: '',
        age: '',
      })
    },
  },
  data: () => ({
    localForm: null
  }),
  watch: {
    form: {
      deep: true,
      immediate: true,
      handler(form) {
        this.localForm = {...form}
      }
    },
  },
  methods: {
    confirm() {
      this.$emit('change', {...this.localForm})
    },
  },
}

</script>

<style lang="scss">
.BaseForm {

  &__title {
    font-weight: 700;
    margin-bottom: 12px;
  }

  &__input-group {

    display: flex;
    flex-direction: column;
  }

  &__input {
    padding: 4px 8px;

    & + & {
      margin-top: 16px;
    }
  }
}
</style>
