<template>
  <div class="container">
    <h2>
      <pre>
        {{form}}
      </pre>
    </h2>
    <BaseForm :form="form" @change="form = $event"/>
    <button @click="get">
      get form
    </button>
  </div>
</template>

<script>
import BaseForm from "../components/BaseForm";
export default {
  components: {BaseForm},
  data() {
    return {
      form: {
        name: '1212',
        age: ''
      }
    }
  },
  methods: {
    get() {
      this.form.name = 'asdas'
      this.form.age = 12
    }
  },
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
